mule-esb-apikit-soap/src/main/app/mule-esb-apikit-soap.xml
<mule xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit-soap="http://www.mulesoft.org/schema/mule/apikit-soap" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/apikit-soap http://www.mulesoft.org/schema/mule/apikit-soap/current/mule-apikit-soap.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
  <apikit-soap:config name="/HelloWorldServiceService/HelloWorldServicePort/api-config" wsdlUrl="hello.wsdl" serviceName="HelloWorldServiceService" portName="HelloWorldServicePort" doc:name="APIkit SOAP: Configuration" />
  <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration" />
  <flow name="api-main">
    <http:listener path="/hello" config-ref="HTTP_Listener_Configuration" doc:name="/HelloWorldServiceService/HelloWorldServicePort" />
    <apikit-soap:router config-ref="/HelloWorldServiceService/HelloWorldServicePort/api-config" doc:name="SOAP Router" />
  </flow>
  <flow name="hello:/HelloWorldServiceService/HelloWorldServicePort/api-config">
    <dw:transform-message doc:name="Transform Message" metadata:id="df217d2b-ab1d-4a5d-b86b-138bf065cf17">
      <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://muleesbcxfsoapexpose.huongdanjava.com/
---
{
	ns0#helloResponse: {
		return: "Hello, " ++ payload.ns0#hello.name
	}
}]]></dw:set-payload>
            <dw:set-property propertyName="soap.header"><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://muleesbcxfsoapexpose.huongdanjava.com/
---
{
	ns0#clientId : inboundProperties."soap.clientId".ns0#clientId
}]]></dw:set-property>
    </dw:transform-message>
  </flow>
</mule>