mule-esb-munit/src/main/app/mule-esb-munit.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:huong-dan-java-logger-component="http://www.mulesoft.org/schema/mule/huong-dan-java-logger-component" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/huong-dan-java-logger-component http://www.mulesoft.org/schema/mule/huong-dan-java-logger-component/current/mule-huong-dan-java-logger-component.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <huong-dan-java-logger-component:config name="Huong_Dan_Java_Logger__Configuration" category="com.huongdanjava" doc:name="Huong Dan Java Logger: Configuration"/>
    <flow name="mule-esb-munitFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/munit" doc:name="HTTP"/>
        <set-variable variableName="number" value="#[message.inboundProperties.'http.query.params'.number]" doc:name="Variable"/>
        <huong-dan-java-logger-component:log config-ref="Huong_Dan_Java_Logger__Configuration" doc:name="Huong Dan Java Logger" message="Khanh: #[flowVars.number]"/>
        <scripting:component doc:name="Groovy">
            <scripting:script engine="Groovy"><![CDATA[if (flowVars.number == '0') {
	return "It's 0.";
} else {
	return "It's not 0.";
}]]></scripting:script>
        </scripting:component>
    </flow>
</mule>
