mule-esb-apikit-soap-mule4/src/main/mule/mule-esb-apikit-soap-mule4.xml
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit-soap="http://www.mulesoft.org/schema/mule/apikit-soap" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/apikit-soap http://www.mulesoft.org/schema/mule/apikit-soap/current/mule-apikit-soap.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <http:listener-config name="api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081"/>
    </http:listener-config>
    <apikit-soap:config name="soapkit-config" port="HelloWorldServicePort" service="HelloWorldServiceService" wsdlLocation="hello.wsdl"/>
    <flow name="api-main">
        <http:listener config-ref="api-httpListenerConfig" path="/hello">
            <http:response statusCode="#[attributes.protocolHeaders.httpStatus default 200]"/>
            <http:error-response statusCode="#[attributes.protocolHeaders.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
            </http:error-response>
        </http:listener>
        <apikit-soap:router config-ref="soapkit-config">
            <apikit-soap:message>#[payload]</apikit-soap:message>
            <apikit-soap:attributes>#[
              %dw 2.0
              output application/java
              ---
              {
                  headers: attributes.headers,
                  method: attributes.method,
                  queryString: attributes.queryString
            }]</apikit-soap:attributes>
        </apikit-soap:router>
    </flow>
    <flow name="hello:\soapkit-config">
        <ee:transform doc:id="c9c55065-707b-4835-8a21-b1a6b517f263">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
ns soap http://schemas.xmlsoap.org/soap/envelope
ns ns0 http://muleesbcxfsoapexpose.huongdanjava.com/
---
{
	body: {
		ns0#helloResponse: {
			result: "Hello, " ++ payload.body.ns0#hello.name
		}
	} write "application/xml",
	headers: {
		clientId: {
			ns0#clientId: payload.headers.clientId.ns0#clientId
		} write "application/xml"
	}
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
